<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CLOUDAMQP_URL" value="amqp://mphgkndf:yx_eWaPmo6QO0ADRpJK2uMxe7z8yQ6Wr@crane.rmq.cloudamqp.com/mphgkndf"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
