<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="CLOUDAMQP_URL" value="amqp://mphgkndf:yx_eWaPmo6QO0ADRpJK2uMxe7z8yQ6Wr@crane.rmq.cloudamqp.com/mphgkndf"/>
    <add key="QueueToMQSolverName" value="QueueToMQSolver"/>
    <add key="QueueToMQGeneratorName" value="QueueToMQGenerator"/>

    <add key="AutoRunJobs" value="true"/>
    <add key="DemoDbMaxCol" value="3"/>

    <!-- SMTP MAIL-->
    <add key="NetworkCredentialUserName" value="mqgenerator.system@gmail.com"/>
    <add key="NetworkCredentialPassword" value="mqgenerator123"/>
    <add key="MailToAddressDefault" value="mqgenerator.system@gmail.com"/>

    <add key="ExecSendMail" value="false"/>


  </appSettings>
  <connectionStrings>
    <add name="ProcessingMQEntities" connectionString="metadata=res://*/ProcessingMQModel.csdl|res://*/ProcessingMQModel.ssdl|res://*/ProcessingMQModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=TestMQ;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MetaqueriesEntities" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Metaqueries;Integrated Security=True;Application Name=EntityFramework Reverse POCO Generator" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>