<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="com.rusanu.dataconnectiondialog" version="1.0.0.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Microsoft.Data.ConnectionUI" version="15.6.27413" targetFramework="net461" />
  <package id="SQLConnectionStringUI" version="1.0.0.5" targetFramework="net461" />
</packages>